{% extends 'base.html' %}
<html>
<head>
    <title>about page</title>
</head>
<body>
{% block content %}
     <h3> Shantiniketan Vidyalaya is a co-educational  English medium, residential school in swarnapally. The school has been established to impart quality education and to develop a comprehensive personality in the children. The purpose of education is the development of a totally integrated personality with positive, creative and responsive qualities. To quote Swami Vivekananda, we want that education by which character is formed, strength of mind is increased, the intellect is expanded, and by which one can stand on one’s own feet. Shantiniketan Vidyalaya intention will always be to translate Swami Vivekananda’s vision into a reality.

The motto of the school, Sa Vidya Ya Vimuktaye means “That is True Education, which Liberates”.
The students come to us from all states of India and abroad. So we have cosmopolitan student community.</h3>
{% endblock %}
</body>
</html>