{% extends 'base.html' %}
{% load staticfiles %}
<html>
<head>
    <title>Home page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



<link rel="stylesheet" href="{% static 'css/styles.css' %}"/>

<script  src="{% static 'scripts/scripts.js' %}"></script>

</head>
<body>
{% block content %}
<div class='jumbotron'>
      <h1> well come to shanthinikethan vidyalayam</h1>
      <h4> we provide quality education system...........!</h4>
</div>
<img src="{% static 'images/rabindra.jpg'%}" height="400" width="1600x1600" alt=""/>


{% endblock %}
</body>
</html>